<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toj.mapper.HolidayMapper">
	<resultMap id="holidayResult" type="java.lang.String" >
		<result column="hDate" />
	</resultMap>

    <select id="selectAll" resultMap="holidayResult">
		select hDate from holiday
	</select>

</mapper>